<div id="advantages_sun" class="d-none d-md-block">
    <div class="container pad-equal">
        <div class="tac h1 mb-3">Преимущества тонировочной пленки</div>
        <div class="row justify-content-center">
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3">
                <div class="row">
                    <div class="col-3 item_img"><img src="/img/icons/icon_advantages_sun.png"
                            alt=""
                            class="img-responsive"></div>
                    <div class="col-8 align-self-center item_text">
                        <p>Защита от жары и перегрева помещений</p>
                    </div>
                </div>
            </div>
            <div class="col-6 item mb-3 mt-4">
                <div class="button gradient button-links cur" data-name="tint_right_now" data-event="fancy">Хочу такую прямо сейчас!!!</div>
            </div>

        </div>
    </div>
</div>