<div id="advantages" class="d-none d-md-block">
    <div class="container pad-equal">
        <div class="row justify-content-between">
            <div class="col item tac">
                <div class="item_img"><img src="/img/icons/icon_gear.png" alt="" class="img-responsive p-4">
                    <div class="item_text">
                        <p class="mt-2">Отражение тепла до 90%</p>
                    </div>
                </div>
            </div>
            <div class="col item tac">
                <div class="item_img"><img src="/img/icons/icon_gear.png" alt="" class="img-responsive p-4">
                    <div class="item_text">
                        <p class="mt-2">Отражение тепла до 90%</p>
                    </div>
                </div>
            </div>
            <div class="col item tac">
                <div class="item_img"><img src="/img/icons/icon_gear.png" alt="" class="img-responsive p-4">
                    <div class="item_text">
                        <p class="mt-2">Отражение тепла до 90%</p>
                    </div>
                </div>
            </div>
            <div class="col item tac">
                <div class="item_img"><img src="/img/icons/icon_gear.png" alt="" class="img-responsive p-4">
                    <div class="item_text">
                        <p class="mt-2">Отражение тепла до 90%</p>
                    </div>
                </div>
            </div>
            <div class="col item tac">
                <div class="item_img"><img src="/img/icons/icon_gear.png" alt="" class="img-responsive p-4">
                    <div class="item_text">
                        <p class="mt-2">Отражение тепла до 90%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>