<div id="chars">
    <div class="container pad-equal">
        <div class="h1 tac">Цвета и характеристики</div>
        <div class="li_text tac mb-5">Подберем пленку под ваш вкус и любой тип помещения</div>
        <div class="row">
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>
            <div class="col-4 col-md-3 item mb-3 tac">
                <div class="item_img"><img src="/img/icons/icon_plenka_green.jpg" alt="" class="img-responsive"></div>
                <div class="item_text">
                    <p>Виды пленок</p>
                </div>
            </div>


        </div>
        <div class="row mt-5 justify-content-center chars_bottom">
            <div class="col-auto item">
                <div class="item_title">Отражение тепла</div>
                <div class="item_bigtext p-3">От 45% до 90%</div>
            </div>
            <div class="col-auto item">
                <div class="item_title">Цена</div>
                <div class="item_bigtext bg_lighten_main_color p-3">От 690 р./м<sup>2</sup></div>
            </div>
        </div>
    </div>
</div>