<div id="one_side_view" class="pad-equal">
    <div class="container">
        <div class="h1 tac">Пример односторонней видимости</div>
        <div class="li_text tac">В видео наглядно показано, как выглядит пленка с односторонней видимостью</div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 laptop py-5 tac">
                <div class="iframe_wrap">
                    <iframe class="img-responsive"
                            src="https://www.youtube.com/embed/Kum4O_fh0_E"
                            allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>