<div id="work">
    <div class="container pad-equal">
        <div class="h1">Примеры выполненных работ</div>
        <h2>Торговый центр</h2>

        <div class="row work_icons">
            <div class="col-6 col-md-5 item mb-2">
                <img src="/img/icons/icon_project_tent.png" class="img-responsive" alt="">
                <span class="fwb">Пленка:</span> Серебро, отражение 70%
            </div>
            <div class="col-6 col-md-5 item mb-2">
                <img src="/img/icons/icon_project_roulette.png" class="img-responsive" alt="">
                <span class="fwb">Объем:</span>  245 м2
            </div>
            <div class="col-6 col-md-5 item mb-2">
                <img src="/img/icons/icon_project_window.png" class="img-responsive" alt="">
                <span class="fwb">Марка:</span> R Si 35 015 (Silver 35)
            </div>
            <div class="col-6  col-md-5item mb-2">
                <img src="/img/icons/icon_project_time.png" class="img-responsive" alt="">
                <span class="fwb">Время работы:</span> 7 дней
            </div>
        </div>
        <div class="carousel">
            <carousel-component>
                <carousel-item>
                    <img src="https://octodex.github.com/images/original.png" alt="">
                </carousel-item>
                <carousel-item>
                    <img src="https://octodex.github.com/images/octobiwan.jpg" alt="">
                </carousel-item>
                <carousel-item>
                    <img src="https://octodex.github.com/images/daftpunktocat-thomas.gif" alt="">
                </carousel-item>
                <carousel-item>
                    <img src="https://octodex.github.com/images/adventure-cat.png" alt="">
                </carousel-item>
            </carousel-component>
        </div>
    </div>
</div>