<div class="main_slider" style="background:url(/img/bg_img_3.jpg) center 0 no-repeat;background-size: cover;">
        <div class="slider_inner pad-equal opacity_bg">
            <div class="container tac">
                <div class="h1_slider white">Установка <span class="main_color">зеркальных <br>солнцезащитных, теплоотражающих пленок</span><br>в Санкт-Петербурге и Лен. области</div>
                <div class="h2 white">Используем только проверенные высокэффективные пленки</div>
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <a href="" class="flatten_button flatten_button_main_color">Подробнее</a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="" class="flatten_button flatten_button_no_color">Рассчитать стоимость</a>
                    </div>
                </div>
                <div class="slider_scroll mt-4"></div>
            </div>
        </div>
    </div>
</div>