<div class="h1 tac">Тонировочная пленка</div>
<div id="tint_film" class="pad-equal">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-7">
                <div class="row opacity_bg pad-inner">
                    <div class="col-2"><img src="/img/icons/icon-bg_window.png" class="img-responsive" alt=""></div>
                    <div class="col-10">
                        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam at aut commodi dicta et ex expedita natus, odit officiis quas quisquam reiciendis reprehenderit sit sunt, suscipit, vel voluptates voluptatibus.</p>
                        <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur cum fugiat, ipsam ipsum labore molestias repudiandae sapiente sed vitae. Dolor eius fugiat in obcaecati sunt, tempora ut voluptate voluptatibus!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>