<form id="zakaz" class="compensate-for-scrollbar">
    <div class="row justify-content-center">
        <div class="form-group col col-md-10">
            <label class="white" for="exampleInputName">Ваше имя:</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Введите имя">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col col-md-10">
            <label class="white" for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Введите email">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="custom-control custom-checkbox  col col-md-11">
            <input type="checkbox" class="custom-control-input" id="exampleCheck1">
            <label class="custom-control-label" for="exampleCheck1">
                <a href="/" rel="nofollow" target="_blank">Я согласен с политикой конфиденциальности</a>
            </label>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group  col col-md-10">
            здесь будет капча
            <div class="form_m">
                <div id="callback_g"></div>
            </div>
        </div>
    </div>
    <div class="form-group tac">
        <button type="submit" class="button button-links mt-3">Отправить заявку</button>
    </div>
</form>

