<div id="main_page_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 main_category_row">
                <div class="row">
                    <div class="col-md-6 item tac" style="padding-top: 15px; padding-bottom: 15px;" >
                        <div class="" style="background: url(../img/bg_img_2.jpg) 0 0 no-repeat; background-size: cover; border:1px solid transparent">
                            <div class="category_title_block align-middle p-2"
                                    style="background: rgba(153,164,158,0.9); margin:150px 50px;">
                                <div class="h1 white">Сюда можно форму</div>
                                <p class="white">Описание краткое категории</p>
                                <a href="#" class="h3 white">Ссылка на категорию</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item tac" style="padding-top: 15px; padding-bottom: 15px;" >
                        <div class="" style="background: url(../img/bg_img_2.jpg) 0 0 no-repeat; background-size: cover; border:1px solid transparent">
                            <div class="category_title_block align-middle p-2"
                                    style="background: rgba(153,164,158,0.9); margin:150px 50px;">
                                <div class="h1 white">Название категории</div>
                                <a href="#" class="white">Ссылка на категорию</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item tac" style="padding-top: 15px; padding-bottom: 15px;" >
                        <div class="" style="background: url(../img/bg_img_2.jpg) 0 0 no-repeat; background-size: cover; border:1px solid transparent">
                            <div class="category_title_block align-middle p-2"
                                    style="background: rgba(153,164,158,0.9); margin:150px 50px;">
                                <div class="h1 white">Название категории</div>
                                <a href="#" class="white">Ссылка на категорию</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 item tac" style="padding-top: 15px; padding-bottom: 15px;" >
                        <div class="" style="background: url(../img/bg_img_2.jpg) 0 0 no-repeat; background-size: cover; border:1px solid transparent">
                            <div class="category_title_block align-middle p-2"
                                    style="background: rgba(153,164,158,0.9); margin:150px 50px;">
                                <div class="h1 white">Название категории</div>
                                <a href="#" class="white">Ссылка на категорию</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-3">
                <div class="posts p-3 tac mb-3">
                    <div class="h2">Посты и чтото</div>
                    <div class="h3">еще что что</div>
                    <p>текст поменьшеыаываываыв</p>
                    <img src="/img/laptop.png" alt="" class="img-responsive">
                    <a href="">Link</a>
                    <hr>
                </div>
                <div class="posts p-3 tac mb-3">
                    <div class="h2">Посты и чтото</div>
                    <div class="h3">еще что что</div>
                    <p>текст поменьшеыаываываыв</p>
                    <img src="/img/laptop.png" alt="" class="img-responsive">
                    <a href="">Link</a>
                    <hr>
                </div>
                <div class="posts p-3 tac mb-3">
                    <div class="h2">Посты и чтото</div>
                    <div class="h3">еще что что</div>
                    <p>текст поменьшеыаываываыв</p>
                    <img src="/img/laptop.png" alt="" class="img-responsive">
                    <a href="">Link</a>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>