<div class="footer">
    <div id="footer_bigform">
        <div class="container pad-equal">
            <div class="row justify-content-center">
                <div class="col col-md-8 form">
                    <div class="h2 tac">Оставьте заявку на разработку Landing Page</div>
                    <div class="h4 tac">Введите данные и я свяжусь с Вами для уточнения деталей</div>
                    @@include('forms/footer_form.html')
                </div>
            </div>
        </div>
    </div>
    <div class="container pad-inner">
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    @@include('footer/footer_contacts.html')
                </div>
                <div class="col-md-4">Здесь можно что-то написать или поставить логотип</div>
                <div class="col-md-4 footer_right_block">
                    <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
                    <div class="ard-block mt-3 d-inline-block"><a href="https://ard-media.ru"
                                                                  rel="nofollow"
                                                                  target="_blank"><img src="img/ard_logo.png" alt="ard-media"></a>
                        <div class="w-100"></div>
                        <a href="https://ard-media.ru"
                           rel="nofollow"
                           target="_blank"
                           class="content_color">Раскрутка сайта</a></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row border-top mt-3">
                <div class="col-6 col-md-auto order-md-first">
                    <p>site.ru &copy; 2018</p>
                </div>
                <div class="col-6 col-md-auto">
                    <p><a href="/" rel="nofollow" target="_blank" class="content_color">Политика конфиденциальности</a></p>
                </div>
            </div>
        </div>

    </div>
</div>
@@include('forms/fancy_form.html')